{% extends "farm/base.html"%}

{%block active-tab-service%}
    <li class="active"><a href="{% url 'farm-services' %}">Services</a></li>
{%endblock%}

{%block content%}




<script type="text/javascript">
    $(document).ready(function () {
      $('div.hidden').fadeIn(2000).removeClass('hidden');
  });
  </script>

<div class = "hidden">  
<div class ="ex1 container" style= " margin-left : 600px; margin-top: 140px; overflow: scroll;" >
    <h1 style="color: orange ;font-size:34px;text-align:center;font-family: 'Special Elite', cursive;"> GOVT. SCHEME ALERTS </h1>
    <br>
    {% for head, link, info in list %}
        <h2 style="font-family: 'Patua-One';color: white;font-size: 28px;"> {{head}} </h2>
        <p style="color: rgb(51, 204, 255); font-size:15px; font-weight: bold"><i> {{link}} </i></p>
        <br>
        <p style="color: rgb(180, 180, 180);font-size: 20px;"><i> {{info}}</i> </p>
        <br>
        <br>
        <br>
    {% endfor %}
</div>
</div>
{%endblock%}
