{% extends "farm/base.html"%}

{%block active-tab-service%}
    <li class="active"><a href="{% url 'farm-services' %}">Services</a></li>
{%endblock%}

{%block content%}




<script type="text/javascript">
    $(document).ready(function () {
      $('div.hidden').fadeIn(2000).removeClass('hidden');
  });

  </script>

<div class = "hidden">  
  <div class = "container">
    <div class ="ex1 container" style= " margin-left : 170px; margin-top: 160px; width:800px;height: 600px;" >
    <h1 style="color: orange ;font-weight: bold; font-size:30px;text-align:center;font-family: 'Special Elite', cursive;margin-top: 50px;">
      The Predicted Yield for your crop is 
      <br>
      <br>
      <i style="color: rgb(255,255,255) ; font-size:27px;text-align:center;font-family: 'Roboto';">{{Prediction}} tonne/hectare</i></h1>
      <img class="card-img-top" src="/static/images/yieldresult.jpg" alt="Card image" style="width:80%;margin-left: 80px;margin-top: 20px;">

    

  </div>
</div>
</div>
{%endblock%}



